body {

  font-family: Arial;

  direction: rtl;

  text-align: center;

  background: #958fcc;

}
.card {

  transition: 0.3s;

}



.card:hover {

  transform: translateY(-10px);

  box-shadow: 0 10px 20px rgba(0,0,0,0.2);

}
.hero {

  box-shadow: 0 10px 30px rgba(0,0,0,0.3);

}

.hero {

  height: 400px;

  background: url("hero.jpg") no-repeat center;

  background-size: cover;

  position: relative;

  border-radius: 15px;

  margin: 20px;

  overflow: hidden;

}



.overlay {

  background: rgba(0, 0, 0, 0.5); /* التعتيم */

  height: 100%;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  color: rgb(65, 60, 60);

  text-align: center;

  padding: 20px;

}



.overlay h1 {

  font-size: 20px;

  margin-bottom: 10px;

}



.overlay p {

  font-size: 16px;

}

.courses {

  display: flex;

  flex-wrap: wrap;

  justify-content: center;

  gap: 20px;

}
hero {

  height: 400px;

  background: url("hero.jpg") no-repeat center;

  background-size: cover;

  position: relative;

  border-radius: 15px;

  margin: 20px;

  overflow: hidden;

}



.overlay {

  background: rgba(0, 0, 0, 0.5); /* التعتيم */

  height: 100%;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  color: rgb(255, 255, 255);

  text-align: center;

  padding: 20px;

}



.overlay h1 {

  font-size: 30px;

  margin-bottom: 10px;

}



.overlay p {

  font-size: 16px;

}



.card {

  background: rgb(255, 255, 255);

  width: 200px;

  padding: 15px;

  border-radius: 10px;

}



.card img {

  width: 100%;

  border-radius: 10px;

}



a {

  display: inline-block;

  margin-top: 10px;

  text-decoration: none;

  background: #4e5263;

  color: white;

  padding: 5px 10px;

  border-radius: 5px;

}

